@media (max-width: 640px) {

    /* sm breakpoint ของ Tailwind */
    :is(.fi-modal>.fi-modal-window-ctn>.fi-modal-window:not(.fi-modal-window-has-icon), .fi-modal>.fi-modal-window-ctn>.fi-modal-window.fi-modal-window-has-sticky-header) .fi-modal-content,
    :is(.fi-modal>.fi-modal-window-ctn>.fi-modal-window:not(.fi-modal-window-has-icon), .fi-modal>.fi-modal-window-ctn>.fi-modal-window.fi-modal-window-has-sticky-header) .fi-modal-footer {
        padding-inline: calc(var(--spacing) * 2);
    }

    .fi-section:not(.fi-section-not-contained):not(.fi-divided)>.fi-section-content-ctn>.fi-section-content,
    .fi-section:not(.fi-section-not-contained).fi-divided>.fi-section-content-ctn>.fi-section-content>* {
        padding-inline: calc(var(--spacing) * 3);
    }

    /*******ระยะห่างของ widget******/
    .fi-sc.fi-sc-has-gap {
        gap: calc(var(--spacing) * 3);
    }

    /********ปรับ padding ของ stat widget เฉพาะโทรศัพท*******/
    .fi-wi-stats-overview-stat {
        padding: calc(var(--spacing) * 3);
    }

    /********ปรับ padding ของ ข้อความแจ้งเตือนในเมนู notification เฉพาะโทรศัพท*******/
    .fi-no-notification {
        padding: 10px 30px;
    }
}



/******************สิ้นสุดสำหรับจอมือถือ*******************/

input.fi-input:where(.dark, .dark *):disabled,
.fi-fo-date-time-picker .fi-fo-date-time-picker-display-text-input:where(.dark, .dark *):disabled,
select.fi-select-input:where(.dark, .dark *):disabled,
.fi-fo-textarea textarea:where(.dark, .dark *):disabled {
    color: #fff;
    -webkit-text-fill-color: #fff;
}

input[type=radio].fi-radio-input:where(.dark, .dark *):disabled:checked {
    background-color: var(--primary-400);
}

.fi-select-input .fi-disabled {
    cursor: not-allowed;
    opacity: 1;
}

.fi-simple-header {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 35px;
}

.fi-sc.fi-inline {
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: flex-start;
    display: flex;
}

.fi-topbar-ctn {
    /**ปรับให้ menubar ถอย z-index ให้อยู่ตำกว่า actiongroup dropdown**/
    top: calc(var(--spacing) * 0);
    z-index: 19;
    position: sticky;
    overflow-x: clip;
}

.fi-link.fi-disabled:not(.fi-force-enabled),
.fi-link[disabled]:not(.fi-force-enabled) {
    /** ปรับ style ลิงก์หรือปุ่มที่ถูกปิดการใช้งาน **/
    cursor: default;
    opacity: 0.3;
}

/***********สีข้อความรวม***************/
.fi-header-heading,
.fi-ta-text-item {
    color: var(--primary-800);
}

.fi-header-heading:where(.dark, .dark *),
.fi-wi-stats-overview-stat-value:where(.dark, .dark *) {
    color: var(--color-white);
}

/****************ปรับ ขนาด Icon เพิ่มเติม ******************/
.fi-size-3xl {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
}

.fi-size-4xl {
    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);
}

.fi-size-5xl {
    width: calc(var(--spacing) * 15);
    height: calc(var(--spacing) * 15);
}

/********ความกว้างของ Drop Dwon Top Menu**********/
.fi-dropdown-panel {
    max-width: 16rem !important;
}