@media (max-width: 640px) {

    /* sm breakpoint ของ Tailwind */
    :is(.fi-modal>.fi-modal-window-ctn>.fi-modal-window:not(.fi-modal-window-has-icon), .fi-modal>.fi-modal-window-ctn>.fi-modal-window.fi-modal-window-has-sticky-header) .fi-modal-content,
    :is(.fi-modal>.fi-modal-window-ctn>.fi-modal-window:not(.fi-modal-window-has-icon), .fi-modal>.fi-modal-window-ctn>.fi-modal-window.fi-modal-window-has-sticky-header) .fi-modal-footer {
        padding-inline: calc(var(--spacing) * 2);
    }

    .fi-section:not(.fi-section-not-contained):not(.fi-divided)>.fi-section-content-ctn>.fi-section-content,
    .fi-section:not(.fi-section-not-contained).fi-divided>.fi-section-content-ctn>.fi-section-content>* {
        padding-inline: calc(var(--spacing) * 3);
    }

    /*******ระยะห่างของ widget******/
    .fi-sc.fi-sc-has-gap {
        gap: calc(var(--spacing) * 3);
    }

    /********ปรับ padding ของ stat widget เฉพาะโทรศัพท*******/
    .fi-wi-stats-overview-stat {
        padding: calc(var(--spacing) * 3);
    }

    /********ปรับ padding ของ ข้อความแจ้งเตือนในเมนู notification เฉพาะโทรศัพท*******/
    .fi-no-notification {
        padding: 10px 30px;
    }
}



/******************สิ้นสุดสำหรับจอมือถือ*******************/

input.fi-input:where(.dark, .dark *):disabled,
.fi-fo-date-time-picker .fi-fo-date-time-picker-display-text-input:where(.dark, .dark *):disabled,
select.fi-select-input:where(.dark, .dark *):disabled,
.fi-fo-textarea textarea:where(.dark, .dark *):disabled {
    color: #fff;
    -webkit-text-fill-color: #fff;
}

input[type=radio].fi-radio-input:where(.dark, .dark *):disabled:checked {
    background-color: var(--primary-400);
}

.fi-select-input .fi-disabled {
    cursor: not-allowed;
    opacity: 1;
}

.fi-simple-header {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 35px;
}

.fi-sc.fi-inline {
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: flex-start;
    display: flex;
}

.fi-topbar-ctn {
    /**ปรับให้ menubar ถอย z-index ให้อยู่ตำกว่า actiongroup dropdown**/
    top: calc(var(--spacing) * 0);
    z-index: 19;
    position: sticky;
    overflow-x: clip;
}

.fi-link.fi-disabled:not(.fi-force-enabled),
.fi-link[disabled]:not(.fi-force-enabled) {
    /** ปรับ style ลิงก์หรือปุ่มที่ถูกปิดการใช้งาน **/
    cursor: default;
    opacity: 0.3;
}

/***********สีข้อความรวม***************/
.fi-header-heading,
.fi-ta-text-item {
    color: var(--primary-900);
}

.fi-header-heading:where(.dark, .dark *),
.fi-wi-stats-overview-stat-value:where(.dark, .dark *) {
    color: var(--color-white);
}

/****************ปรับ ขนาด Icon เพิ่มเติม ******************/
.fi-size-3xl {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
}

.fi-size-4xl {
    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);
}

.fi-size-5xl {
    width: calc(var(--spacing) * 15);
    height: calc(var(--spacing) * 15);
}

/********ความกว้างของ Drop Dwon Top Menu**********/
.fi-dropdown-panel {
    min-width: 16rem;
}

/********ปรับสไตล์ ->prefix และ ->surfix **********/
.fi-input-wrp .fi-input-wrp-label {
    /* ปรับสี */
    color: var(--gray-900);
}

.fi-input-wrp .fi-input-wrp-prefix:not(.fi-inline) {
    padding-inline-start: calc(var(--spacing) * 2);
    padding-inline-end: calc(var(--spacing) * 2);
    border-color: var(--info-300);
}

.fi-input-wrp .fi-input-wrp-suffix:not(.fi-inline) {
    padding-inline-start: calc(var(--spacing) * 2);
    padding-inline-end: calc(var(--spacing) * 2);
    border-color: var(--info-300);
}

/********แก้ไขสีตัวอักษรทั้งโปรเจ็ค**********/
.fi-body,
.fi-ta-header-cell,
.fi-ta-ctn .fi-ta-filters .fi-ta-filters-header .fi-ta-filters-heading,
.fi-fo-field .fi-fo-field-label-content,
.fi-select-input .fi-select-input-btn,
.fi-input-wrp .fi-input-wrp-label,
.fi-modal>.fi-modal-window-ctn>.fi-modal-window .fi-modal-heading,
.fi-fo-date-time-picker .fi-fo-date-time-picker-display-text-input,
.fi-fo-radio>.fi-fo-radio-label>.fi-fo-radio-label-text,
.fi-btn:not(.fi-outlined),
.fi-btn>.fi-icon,
.fi-section-header-heading,
.fi-section-header-description,
.fi-tabs-item .fi-tabs-item-label,
.fi-topbar-item-label,
.fi-topbar-item-btn>.fi-icon,
.fi-dropdown-list-item-label,
.fi-dropdown-list-item>.fi-icon,
select.fi-select-input {
    color: var(--info-900);
}

.fi-dropdown-list-item.fi-color .fi-dropdown-list-item-label,
.fi-dropdown-list-item>.fi-icon.fi-color {
    color: var(--text);
}

.fi-tabs-item.fi-active .fi-tabs-item-label,
.fi-topbar-item.fi-active .fi-topbar-item-btn,
.fi-topbar-item.fi-active .fi-topbar-item-btn>.fi-icon,
.fi-topbar-item.fi-active .fi-topbar-item-label {
    color: var(--info-600);
}

.fi-tabs-item:hover,
.fi-topbar-item-btn:hover,
.fi-tabs-item.fi-active,
.fi-topbar-item.fi-active .fi-topbar-item-btn,
.fi-dropdown-list-item:hover {
    background-color: var(--info-100);
}

.fi-ta-ctn .fi-ta-selection-indicator>:first-child {
    color: var(--info-700);
}

.fi-btn:not(.fi-outlined).fi-color:not(label),
.fi-btn:not(.fi-outlined).fi-color:not(label)>.fi-icon {
    color: var(--text);
}

.fi-ta-header-cell {
    font-size: var(--text-base);
}

/********แก้ไขสีขอบโฟกัสของ field form**********/
.fi-input-wrp {
    --tw-ring-color:
        color-mix(in oklab, var(--info-300), var(--info-800));
}

/************ปรับขนาดสีขอบของเมนูย่อยของ Top Menu**********/
:where(:scope .fi-dropdown-panel:not(.fi-dropdown-list)>:not(:last-child)) {
    border-color: var(--gray-300);
}